.container
  //- div
  //-   acme-navbar(creation-date='vm.creationDate')
  .jumbotron.text-center
    h1 秀 淡
    p.lead
      img(src='assets/images/yeoman.png', alt="I'm Yeoman")
      br
      | 온라인 작명소
    p.animated.infinite(ng-class='vm.classAnimation')
      button.btn.btn-lg.btn-success(type='button', ng-click='vm.showToastr()') Splendid Toastr
    p
      | With ♥ thanks to the contributions of
      acme-malarkey(extra-values="['Yeoman', 'Gulp', 'Angular']")
  .row
    .col-sm-6.col-md-4(ng-repeat="awesomeThing in vm.awesomeThings | orderBy:'rank'")
      .thumbnail
        img.pull-right(ng-src='assets/images/{{ awesomeThing.logo }}', alt='{{ awesomeThing.title }}')
        .caption
          h3 {{ awesomeThing.title }}
          p {{ awesomeThing.description }}
          p
            a(ng-href='{{awesomeThing.url}}') {{ awesomeThing.url }}
